<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Recommender</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='style.css') }}">

</head>

<body>

    <!-- SEARCH BAR -->

    <form action="/" method="get" class="search-bar">

        <!-- <form action="/" method="get" class="search-bar"> -->

    <input
        type="text"
        name="search"
        placeholder="Search for a book..."
        value="{{ search }}"
    >

    <select name="genre">

        <option value="">All Genres</option>

        {% for g in genres %}

        <option value="{{ g }}"
            {% if genre == g %}selected{% endif %}>
            {{ g }}
        </option>

        {% endfor %}

    </select>

    <button type="submit">
        Search
    </button>

<!-- </form> -->

    </form>


    <!-- PAGE HEADING -->

    <h1>Highest Rated Books</h1>


    <!-- BOOKS -->

    <div class="book-container">

        {% for book in books %}

        <div class="book-card">

            <img
                src="{{ book.cover_image_uri }}"
                alt="{{ book.title }}"
            >

            <h2>
                <a href="/book/{{ book.book_id }}">
                    {{ book.book_title }}
                </a>
            </h2>

            <p>
                ⭐ {{ book.average_rating }}
            </p>

            <p>
                {{ (book.genres) }}
            </p>

            <p>
                <a
                    href="{{ book.authorlink }}"
                    target="_blank"
                >
                    {{ book.author }}
                </a>
            </p>

        </div>

        {% endfor %}

    </div>


    <!-- LOAD MORE -->

    {% if has_more %}

    <div class="load-more">
    <a href="/?offset={{ next_offset }}{% if search %}&search={{ search }}{% endif %}{% if genre %}&genre={{ genre }}{% endif %}#books">
        Load More
    </a>
</div>

    {% endif %}


</body>

</html>

